name: Deploy to Live Channel

on:
  push:
    branches:
      - main

jobs:
  deploy_live_website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Create .env file
        run: |
          echo "VITE_APP_KAKAOMAP_JAVASCRIPT_KEY=${{ secrets.APP_KAKAOMAP_JAVASCRIPT_KEY }}" > .env
          echo "VITE_APP_FIREBASE_PROJECT_ID=${{ secrets.APP_FIREBASE_PROJECT_ID }}" > .env
          echo "VITE_APP_FIREBASE_DATABASE_URL=${{ secrets.APP_FIREBASE_DATABASE_URL }}" > .env

      - name: Build project
        run: npm run build

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          projectId: "${{ vars.FIREBASE_PROJECT_ID }}"
          channelId: live
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks
